@tailwind base;
@tailwind components;
@tailwind utilities;

/* تعريف الألوان كمتغيرات CSS قياسية */
:root {
  --background: #F1F3E0;
  --foreground: #000000;
  --card: #D2DCB6;
  --primary: #A1BC98;
}

/* تطبيق الألوان على الصفحة */
body {
  background-color: var(--background);
  color: var(--foreground);
}