fastapi
uvicorn[standard]
pydantic
SQLAlchemy
alembic
asyncmy
pymysql
python-dotenv
httpx
passlib[bcrypt]==1.7.4
PyJWT
email-validator
bcrypt==3.2.2
cloudinary
python-multipart
sendgrid
google-auth
requests